<a href="https://colab.research.google.com/github/syednajmuddin/Inventory-Management-System/blob/main/Titanic_Train_Test_Split%2C_Cross_Validation%2C_and_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (accuracy_score, confusion_matrix, classification_report,
                             roc_auc_score, RocCurveDisplay, precision_score, recall_score, f1_score)

sns.set(style='whitegrid')

# Load Titanic dataset from seaborn (convenient for classroom use)
titanic = sns.load_dataset('titanic')
print("Columns available:", titanic.columns.tolist())

titanic.head()

Columns available: ['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [2]:
import warnings
warnings.filterwarnings('ignore')

This line hides unnecessary warning messages — helps keep output clean while running models.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

These are standard Python libraries:

NumPy (np) → For numerical operations (arrays, math functions)

Pandas (pd) → For handling and analyzing tabular data (DataFrames)

Matplotlib (plt) → For plotting graphs and charts

Seaborn (sns) → For advanced statistical data visualization (built on Matplotlib)

In [ ]:
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score, GridSearchCV

Tools for splitting data, running cross-validation, and tuning models:

train_test_split → splits dataset into training & testing parts

StratifiedKFold → ensures class balance across folds during cross-validation

cross_val_score → runs cross-validation and returns model scores

GridSearchCV → finds best hyperparameters for your model automatically

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

Used to build machine learning pipelines that chain steps (e.g. preprocessing + model)

Pipeline → connects preprocessing + model in one workflow

ColumnTransformer → applies different preprocessing to numeric and categorical columns separately

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

These prepare raw data before feeding into the model:

SimpleImputer → fills missing values (e.g., replace NaN with mean or most frequent value)

OneHotEncoder → converts text categories (like “male”, “female”) into numeric columns (0s and 1s)

StandardScaler → normalizes numeric data (so all features have similar scale)

In [ ]:
from sklearn.linear_model import LogisticRegression

ou’re importing a classification algorithm — Logistic Regression — to predict survival (0 = No, 1 = Yes).

In [ ]:
from sklearn.metrics import (accuracy_score, confusion_matrix, classification_report,
                             roc_auc_score, RocCurveDisplay, precision_score, recall_score, f1_score)

Metrics and tools to evaluate model performance, including:

accuracy_score → % of correct predictions

confusion_matrix → table comparing actual vs predicted results

classification_report → shows precision, recall, F1-score for each class

roc_auc_score → measures how well the model separates classes

RocCurveDisplay → plots ROC curve

precision_score, recall_score, f1_score → additional evaluation metrics

In [ ]:
sns.set(style='whitegrid')

Gives all Seaborn charts a clean, white grid background for better readability.

In [ ]:
titanic = sns.load_dataset('titanic')
print("Columns available:", titanic.columns.tolist())

Loads the Titanic dataset directly from Seaborn — a built-in sample dataset.

The dataset contains passenger information such as:

survived (0 or 1)

pclass (ticket class)

sex

age

sibsp, parch (family relations aboard)

fare

embarked (port of embarkation)

and more…

The print() statement lists all available column names.

In [ ]:
titanic.head()

Displays the first 5 rows of the Titanic dataset, so you can see what the data looks like (columns, missing values, etc.)

| Section              | Purpose                                                      |
| -------------------- | ------------------------------------------------------------ |
| Import libraries     | Load required tools for data analysis and ML                 |
| Ignore warnings      | Keep output clean                                            |
| Load Titanic dataset | Get data for survival prediction                             |
| View columns & head  | Explore structure before preprocessing                       |
| Import ML tools      | Prepare for model training, cross-validation, and evaluation |